<h1>Olá, {{name}}</h1>

<p>
  Parece que você solicitou uma nova senha para a sua conta na plataforma do {{app_name}}.
</p>

<p>
  Se foi você, clique no link abaixo para redefinir a sua senha:
</p>

<p>
  <a href="{{reset_url}}">Redefinir senha</a>
</p>


<p>
  Se não foi você, entre em contato para desativarmos a conta!
</p>

<p>
  Obrigado!
  <br />
  <strong>Equipe {{app_name}}</strong>
</p>