<h1>Olá, {{name}}</h1>

<p>Um administrador criu a organização: {{organization.name}}, na plataforma {{app_name}}.</p>

<p>Se não foi você, entre em contato para desativarmos a organização!</p>

<p>
  Obrigado!
  <br />
  <strong>Equipe {{app_name}}</strong>
</p>